<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
   "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
   "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
   <session-factory>
      <property name="connection.url">
          jdbc:mysql://localhost:3306/mps
      </property>
      <property name="connection.username">root</property>
      <property name="connection.password">root</property>
      <property name="connection.driver_class">
         com.mysql.jdbc.Driver
      </property>
      <property name="dialect">
         org.hibernate.dialect.MySQLDialect
      </property>
      <property name="cache.provider_class">
         org.hibernate.cache.EhCacheProvider
      </property>
      <property name="current_session_context_class">thread
      </property>
      <property name="hibernate.transaction.factory_class">
         org.hibernate.transaction.JDBCTransactionFactory
      </property>
      <property name="show_sql">true</property>
      <property name="hibernate.hbm2ddl.auto">update</property>
      
      <!-- Classes to be mapped -->
      <mapping class="bai5_hibernate.MPS_AE.hibernate.tables.Angebot" />
      <mapping class="bai5_hibernate.MPS_AE.hibernate.tables.Arbeitsplan" />
      <mapping class="bai5_hibernate.MPS_AE.hibernate.tables.Auftrag" />
      <mapping class="bai5_hibernate.MPS_AE.hibernate.tables.Bauteil" />
      <mapping class="bai5_hibernate.MPS_AE.hibernate.tables.Fertigungsauftrag" />
      <mapping class="bai5_hibernate.MPS_AE.hibernate.tables.Kunde" />
      <mapping class="bai5_hibernate.MPS_AE.hibernate.tables.Lieferung" />
      <mapping class="bai5_hibernate.MPS_AE.hibernate.tables.Rechnung" />
      <mapping class="bai5_hibernate.MPS_AE.hibernate.tables.Stueckliste" />
      <mapping class="bai5_hibernate.MPS_AE.hibernate.tables.StuecklistenPosition" />
      <mapping class="bai5_hibernate.MPS_AE.hibernate.tables.Transportauftrag" />
      <mapping class="bai5_hibernate.MPS_AE.hibernate.tables.Vorgang" />
      <mapping class="bai5_hibernate.MPS_AE.hibernate.tables.Zahlungseingang" />
   </session-factory>
</hibernate-configuration>